header {
    background: #e8548f;
}
nav{
    position: fixed;
    z-index: 1;
}
.header::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 80px;
    background: 
        radial-gradient(ellipse 70px 40px, #e8548f 70px, transparent 71px) 0 0/140px 80px repeat-x;
    z-index: -1;
}
nav {
    background-color: #e8548f;
    padding: 0;
}
nav .container ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li a {
    padding: 0;
}
.sidenav img {
    width: 120px;
    display: block;
    margin: 20px auto;
}
.sidenav li a {
    color: #024b82;
    text-align: center;
}
.sidenav .current-page {
    background-color: #f2f2f2;
    pointer-events: none;
    cursor: default;
}



body{
    font-family: tahoma;
    background-image: url(img/bg/green-stripe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
main {
    padding: 0 5vw 5vw;
    padding-top: 180px;
    margin-bottom: 60px;
}
.info-container {
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
}

.character-img {
    width: 40vw;
    display: block;
    margin: 0 auto -20;
    transition: transform 0.3s ease;
}
.character-img:hover {
    transform: scale(1.1);
}
.identity-card h4 {
    color: #024b82;
    font-weight: bold;
}
.information-table {
    width: 100%;
    border-collapse: collapse;
}
.information-table td {
    color: #024b82;
}
.information-table tr:last-child td {
    border-bottom: none;
}
.information-table td:first-child {
    font-weight: 400;
    width: 30%;
    color: #647c8e;
}
.gallery-container {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}
.gallery-container .col {
    padding: 5px;
}
.gallery-container .col img {
    display: block;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.gallery-container .col img:hover {
    transform: scale(0.95);
}
.btn {
    background-color: #e8548f;
    border-radius: 30px;
    margin-top: 30px;
}
.btn:hover {
    background-color: #f471a5;
}
.btn:active {
    background-color: #e8548f;
}



.sanriofam {
    width: 100%;
    height: auto;    
    display: block;
    margin-bottom: -1px;
    position: relative;
}
footer {
    width: 100%;
    overflow: visible;
    
}
footer div{
    background-color: #e8548f;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div span{
    color: white;
}